.text {
  font-size: 22px;
  font-weight: 500;
}

.row.answer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: 2px solid black;
  cursor: pointer;
  justify-content: center;
}

.row.answer:hover {
  background-color: lightgreen;
  color: black;
}

.answerDiv {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
