.question-card {
  z-index: 900;
  background: #ffffff;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  width: 600px;
  padding: 2rem 1rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.startAgain {
  border: 1px solid lightblue;
  margin-left: 12rem;
  margin-right: 12rem;
  font-size: 22px;
  margin-top: 1rem;
  border-radius: 12px;
}